* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  color: #ffffff;
}

p {
  color: #b2b2b2;
}

h2 > span,
p > span {
  color: #febe01;
}

button{
  border: none;
  border-radius: 4px;
  padding: 10px;
  background-color: #febe01;
  color: #332200;
  font-size: 14px;
  cursor: pointer;
}

button:hover{
  background-color: #dda500;
}

div.item {
  background-color: #111;
  border-radius: 4px;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 80%;
}
